/* html {
    &::-webkit-scrollbar {
        width: 10px;
        height: 20px;
    }

    &::-webkit-scrollbar-thumb {
        background: var(--color-dark);
        border-radius: 25px;
    }

    &::-webkit-scrollbar-track {
        background: var(--color-light-alpha);
    }

} */
