<div class="form">
    <form method="post" name="contactme" data-netlify-recaptcha="true" data-netlify="true">
        <fieldset>
            <legend aria-hidden="true" class="visually-hidden">Your Name</legend>
            <label for="name">Your Name: </label>
            <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
        </fieldset>
        <fieldset>
            <legend aria-hidden="true" class="visually-hidden">Your E-mail</legend>
            <label for="email">Your E-mail:</label>
            <input type="email" name="email" id="email" placeholder="Enter Your E-mail Address" required>
        </fieldset>
        <fieldset>
            <legend aria-hidden="true" class="visually-hidden">Enter Your Message</legend>
            <label for="message">Enter Your Messaage</label>
            <textarea name="message" id="message" placeholder="Enter Your Message" required></textarea>
        </fieldset>
        <div class="g-recaptcha" data-sitekey="6LeTMJIUAAAAAEG3TEZrf6VD_ahP_Nphh7yC5iOf"></div>
        <button type="submit">Send Your Message</button>
    </form>
</div>