---
title: “Hoću na more (hocunamore.hr)” Web Site
description: “Hoću na more (hocunamore.hr)” Web Site Project
permalink: project/hocunamore-web-site.html
image: img/hocunamore.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Hoću na more (hocunamore.hr)” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/hocunamore.webp" type="image/webp">
                    <img src="/img/hocunamore.jpg" alt="Hoću na more (hocunamore.hr) Web Site">
                </picture>
                <div class="description">
                    <p>Web Site hocunamore.hr (Hoću na more) started as small idea for restarting and rebuilding web site for Šimun Emanuel Putovanja’s domain and web site which they got year ago, but after some problems with CMS and hacks they closed it for good. Website is rebuilt using WordPress as CMS now, and it uses theme “Travel Tour” from “GoodLayers” with integrated tours section to showcase where they get every weekend on Adriatic Sea (Jadransko more). In near future there would be integrated web shop for purchasing tickets right from web site.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Šimun Emanuel Travel Ltd.
                </p>
                <p>
                    <strong>Project start date:</strong> June 2019.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://hocunamore.hr/" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                        hocunamore.hr 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress, php, JS, HTML, CSS
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>