---
title: “Kursiljo Croatia” Web Site
description: “Kursiljo Croatia” Web Site Project
permalink: project/kursiljo-web-site.html
image: img/kursiljo.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Kursiljo Croatia” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/kursiljo.webp" type="image/webp">
                    <img src="/img/kursiljo.jpg" alt="Kursiljo Croatia Web Site">
                </picture>
                <div class="description">
                    <p>Web Site of Kursiljo Croatia was created in March of 2009. using Joomla! as CMS. For that time it was used to show basic contact informations about Kursiljo (Cursillo) and when people can register to go on Catholic Camp on Krapanj Island. It was running Joomla as CMS for a while until early 2018. when it was switched to WordPress which is running right now. My role as Web Administrator started in late 2019. when I helped with fixing one problem and now I'm responsible for putting out online news about all things about Kursiljo Croatia events.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Kursiljo Croatia
                </p>
                <p>
                    <strong>Project start date:</strong> March 2009.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://kursiljo.com" target="_blank" rel="noopener noreferrer">
                        kursiljo.com 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>