---
title: Marko93 Gaming” Web Site
description: Marko93 Gaming” Web Site Project
permalink: project/marko93gaming-web-site.html
image: img/marko93gaming.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Marko93 Gaming” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/marko93gaming.webp" type="image/webp">
                    <img src="/img/marko93gaming.jpg" alt="Marko93 Gaming Web Site">
                </picture>
                <div class="description">
                    <p>Small promotional Web Site for "Marko93 Gaming" started as blank idea to create simple, but still useful web site for new project of mine, namely like YouTube Channel which I wanted to create few months ago just to keep it up with old Gaming Videos which I made for multiple Channels that I owned or was one of contributors. Web Site is built using Custom  Grid Layout. Web Site is hosted on Netlify Services and it is git synced with GitHub where are source files.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p><strong>Client:</strong> Marko93 Gaming YouTube Channel</p>
                <p><strong>Project start date:</strong> October 2019.</p>
                <p><strong>Project web site:</strong> <svg class="icon"><use href="/svg/sprite.svg#external"></use></svg> <a href="https://marko93gaming.netlify.app" target="_blank" rel="noopener noreferrer">marko93gaming.netlify.app</a></p>
                <p><strong>Technologies used:</strong> HTML, CSS</p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>