---
title: “maskice.hr” for Android&trade; Application
description: “maskice.hr” for Android&trade; Application Project
permalink: project/maskice-android-application.html
image: img/maskice-android-app.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“maskice.hr” for Android&trade; Application</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/maskice-android-app.webp" type="image/webp">
                    <img src="/img/maskice-android-app.jpg" alt="maskice.hr Android Application">
                </picture>
                <div class="description">
                    <p>“maskice.hr” for Android™ Application if created as demo project for company "Gold Deal Ltd." in which with basic Android WebView to publish website to Android™ platform. It got few iterations with always latest Google Material Design schematics. Application was improved with modern navigation system and started using REST API for collecting data from web shop. Application is due to major update because of switching design and navigation of web site.</p>
                    <p>Due to big changes in Web Site Structure, this application is Unpublished from All Download Sources, and it will not be updated anymore.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Gold Deal Ltd.
                </p>
                <p>
                    <strong>Project start date:</strong> December 2017.
                </p>
                <p>
                    <strong>Project Source Code:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://github.com/idzan/maskicehr" target="_blank" rel="noopener noreferrer">
                        github.com/idzan/maskicehr 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> Java, XML, JavaScript, REST API
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>