---
title: “MyBar.hr” Web Shop
description: “MyBar.hr” Web Shop Project
permalink: project/mybar-web-shop.htm
image: img/mybar.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“MyBar.hr” Web Shop</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/mybar.webp" type="image/webp">
                    <img src="/img/mybar.jpg" alt="MyBar.hr Web Shop">
                </picture>
                <div class="description">
                    <p>Project named “MyBar.hr” started as idea in mid-February 2018. while company “MojBar2018 j.d.o.o.” was still in development. It started as simple promotional web site and after first round of design it got approved. Few months later it got integrated with Web Shop platform WooCommerce by the owner which is currently administering web site on their own. For design it uses “Flatsome by UX-Themes“.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> MojBar2018 Ltd.
                </p>
                <p>
                    <strong>Project start date:</strong> March 2018.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://mybar.hr/" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                        mybar.hr 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress, WooCommerce, HTML, CSS, php
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>