---
title: “najam-vozila.hr” Web Site
description: “najam-vozila.hr” Web Site Project
permalink: project/najam-vozila-web-site.html
image: img/najam-vozila.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“najam-vozila.hr” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/najam-vozila.webp" type="image/webp">
                    <img src="/img/najam-vozila.jpg" alt="najam-vozila.hr Web Site">
                </picture>
                <div class="description">
                    <p>Web Site for Car Rental Service "najam-vozila.hr" is built in early January of 2018 using WordPress as base CMS for managing and booking cars. For a design it is running Grand Car Rental Theme from ThemeForest with bunch of small CSS & JavaScript tweaks and with translated theme content to Croatian.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Great Choice Ltd.
                </p>
                <p>
                    <strong>Project start date:</strong> January 2018.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://najam-vozila.hr/" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                        najam-vozila.hr 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress, php, HTML, CSS
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>