---
title: “Nekretnina.hr” Web Site
description: “Nekretnina.hr” Web Site Project
permalink: project/nekretnina-web-site.html
image: img/nekretnina.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Nekretnina.hr” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/nekretnina.webp" type="image/webp">
                    <img src="/img/nekretnina.jpg" alt="Nekretnina.hr Web Site">
                </picture>
                <div class="description">
                    <p>“Nekretnina.hr” Web Site was started in May 2018. as first-time idea about redesign of old design of site. At first it was just simple promotional site without much of features, but how work progressed it got upgraded from simple promotional site up to project which use “Reality” theme with custom feature built into it which is custom Dashboard for inserting and editing Real Estates. Site is also connected with platform “Dimedia Nekretnine” for checkups of information’s used from owner of Real Estate and so it can be easily shared on multiple Real Estate networks.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Interhaus Nekretnine Ltd.
                </p>
                <p>
                    <strong>Project start date:</strong> June 2018.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://nekretnina.hr" target="_blank" rel="noopener noreferrer">
                        nekretnina.hr 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress, JS, HTML, CSS, php</p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>