---
title: “Parish of St. Barbara's, Vrapce - Zagreb” Web Site
description: “Parish of St. Barbara's, Vrapce - Zagreb” Web Site Project
permalink: project/parish-of-st-barbara-vrapce-web-site.html
image: img/zupa-vrapce.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Parish of St. Barbara's, Vrapce - Zagreb” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/zupa-vrapce.webp" type="image/webp">
                    <img src="/img/zupa-vrapce.jpg" alt="Parish of St. Barbara Web Site">
                </picture>
                <div class="description">
                    <p>Web site for “Parish of St. Barbara's, Vrapce” (Croatian: župa sv. Barbare, Vrapče) is created from necessity because old version of web site couldn’t be retrieved back after old web designer and web administrator decided not to extend domain and hosting plan. Because of that new pastor of Church decided to call me to create web site from scratch. I was given only basic details about Church and what is currently going on in it from pastoral activities. My goal was to create simple, modern and clean web site where all members of Parish can find all details about pastoral activities and latest pastoral news. Web site was built using WordPress for easier management of adding content on web site so even if somebody wants to manage web site in future, I can give basic instructions on how-to use WordPress and how to publish on Parish’s Social Media pages.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Parish of St. Barbara's, Vrapce - Zagreb
                </p>
                <p>
                    <strong>Project start date:</strong> Novmeber 2019.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://zupa-sbdm-vrapce.hr" target="_blank" rel="noopener noreferrer">
                        zupa-sbdm-vrapce.hr 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress, HTML, CSS, php
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>