---
title: “Parish of St. Vitus, Petrusevec - Zagreb” Web Site
description: “Parish of St. Vitus, Petrusevec - Zagreb” Web Site Project
permalink: project/parish-of-st-vitus-petrusevec-web-site.html
image: img/zupa-petrusevec.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Parish of St. Vitus, Petrusevec - Zagreb” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/zupa-petrusevec.webp" type="image/webp">
                    <img src="/img/zupa-petrusevec.jpg" alt="Parish of St. Vitus Web Site">
                </picture>
                <div class="description">
                    <p>Web site for “Parish of St. Vitus, Petrusevec” (Croatian: župa sv. Vida, Petruševec) is created in November 2007. and it is originally published to public in December of same year. I early days it was built using HTML 4.0 Transitional, bit of JavaScript and CSS2.1. First major refresh was created in August 2012. when it was built using WordPress which uses until this day. During last 7 years web site had few major web design changes which all are mostly based on free themes from Theme Repository. Photographs and major cover images are shot on smartphones and edited using multiple applications for graphics design.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Parish of St. Vitus, Petrusevec - Zagreb
                </p>
                <p>
                    <strong>Project start date:</strong> December 2007
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://zupa-petrusevec.hr" target="_blank" rel="noopener noreferrer">
                        zupa-petrusevec.hr 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress, HTML, CSS, JS
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>