---
title: Change to project name
description: Title to Project
permalink: project/project.html
image: img/og-image.png
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>Change to project name, project type</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/zupa-petrusevec.webp" type="image/webp">
                    <img src="/img/zupa-petrusevec.jpg" alt="Change to project name">
                </picture>
                <div class="description">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta placeat quidem molestias eos laudantium fugit reprehenderit accusantium, iure veritatis laboriosam repudiandae magnam quasi quis reiciendis vero ex sed ducimus animi?</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p><strong>Client:</strong> Client name or Client Company Name</p>
                <p><strong>Project start date:</strong> Month Year</p>
                <p><strong>Project web site:</strong> <svg class="icon"><use href="/svg/sprite.svg#external"></use></svg> <a href="#" target="_blank" rel="noopener noreferrer">Lorem Ipsum Link</a></p>
                <p><strong>Technologies used:</strong> Tech1, Tech2, etc.</p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>