---
title: “Šimun Emanuel Travels” Web Site
description: “Šimun Emanuel Travels” Web Site Project
permalink: project/simun-emanuel-travels-web-site.html
image: img/simun-emanuel.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Šimun Emanuel Travels” Web Site</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/simun-emanuel.webp" type="image/webp">
                    <img src="/img/simun-emanuel.jpg" alt="Simun Emanuel Travels Web Site">
                </picture>
                <div class="description">
                    <p>“Šimun Emanuel Travels” (in Croatian  – “Šimun Emanuel Putovanja”) Web Site was originally built in 2015. using WordPress and using theme “Altair”. It was built to be ready for heavy images and constant uploading of images in posts and tours list. Because original development and design team spread all around the world and couldn’t anymore update web site and keep it up with owners updates I got involved into it while on one pilgrimage with owner of web site and company. After that I started on optimization of web site which is still bit “heavy” because of videos which are loaded from server and because it is on shared web hosting. At the time of writing this portfolio item, web site was in process of integration Ticket Purchasing system which is built on WooCommerce, updating and optimizing of theme used and updating web site to be better in SEO.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p><strong>Client:</strong> Šimun Emanuel Travel Ltd.</p>
                <p><strong>Project start date:</strong> May 2015.</p>
                <p><strong>Project web site:</strong> <svg class="icon"><use href="/svg/sprite.svg#external"></use></svg> <a href="https://simun-emanuel.hr/" target="_blank" rel="noopener noreferrer">simun-emanuel.hr</a></p>
                <p><strong>Technologies used:</strong> WordPress, WooCommerce, php, JS, HTML, CSS</p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>