---
title: “Tiskara.hr” Web Shop
description: “Tiskara.hr” Web Shop Project
permalink: project/tiskara-web-shop.html
image: img/tiskara.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>“Tiskara.hr” Web Shop</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/tiskara.webp" type="image/webp">
                    <img src="/img/tiskara.jpg" alt="Tiskara.hr Web Shop">
                </picture>
                <div class="description">
                    <p>“Tiskara.hr” Web Shop is project which started in June 2018. Web Site is based on WordPress and Web Shop platform is running on WooCommerce. For design web shop is based on “Electro” theme. Web shop is hosted on powerful VPS because of high number of visitors and customers.</p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Global Print Ltd.
                </p>
                <p>
                    <strong>Project start date:</strong> June 2018.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://tiskara.hr" target="_blank" rel="noopener noreferrer" title="Opens in new tab">
                        tiskara.hr
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> WordPress, WooCommerce, php
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>