---
title: Python bot for Twitter (Retweet/Like Bot)
description: Python bot for Twitter (Retweet/Like Bot) Project
permalink: project/twitter-python-bot.html
image: img/python-twitter-bot-webtermsbot.jpg
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {% include site_verification.html %}

    {% include favicons_styling.html %}

    {% include header/open_graph.html %}

    {% include header/twitter_card.html %}

    <title>{{ page.title }}</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="{{ page.title }} - Marko Idžan">
    <meta name="description" content="{{ page.description }}">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        <h1>Python bot for Twitter (Retweet/Like Bot)</h1>
        <section>
            <a href="/projects.html" class="returnback">Return to Projects</a>
            <div class="single-project">
                <picture>
                    <source srcset="/img/webp/python-twitter-bot-webtermsbot.webp" type="image/webp">
                    <img src="/img/python-twitter-bot-webtermsbot.jpg" alt="Parish of St. Vitus Web Site">
                </picture>
                <div class="description">
                    <p>This project was created as one small hobby idea within 20 minutes. First I found idea on <a href="https://www.youtube.com/channel/UClb90NQQcskPUGDIXsQEz5Q" target="_blank" rel="noopener noreferrer">Dev Ed YouTube Channel</a> where he explained how it works and what are prerequisites for this kind of project. Project is built in Python (obviously) with <a href="https://www.tweepy.org/" target="_blank" rel="noopener noreferrer">Tweepy library</a> and it uses Twitter's own API calls to make Likes (Favorites) of Tweets and Retweets of them for couple of Web Development Terms. It is running on AWS EC2 instance, where it is configured using Cron job to run all day long and to make Retweets and Favorites until it get to Daily Limits for API Calls. Twitter Account which is running this script is <a href="https://twitter.com/webtermsbot" target="_blank" rel="noopener noreferrer">@webtermsbot.</a></p>
                </div>
            </div>
            <div class="details">
                <h3>Project Details</h3>
                <p>
                    <strong>Client:</strong> Private Project
                </p>
                <p>
                    <strong>Project start date:</strong> January 2020.
                </p>
                <p>
                    <strong>Project web site:</strong> 
                    <svg class="icon">
                        <use href="/svg/sprite.svg#external"></use>
                    </svg> 
                    <a href="https://github.com/idzan/twitter-retweet-like-bot" target="_blank" rel="noopener noreferrer" title="Opens in new tab"
                        github.com/idzan/twitter-retweet-like-bot 
                        <span class="screen-reader" aria-hidden="true">(Opens in new tab)</span>
                    </a>
                </p>
                <p>
                    <strong>Technologies used:</strong> Python, Twitter API
                </p>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>