<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Site Verification -->
    <meta name="google-site-verification" content="Nqz4seLf_1h2YSk9z3iTG4aNARiu48Q6mlEmtNpFwWw" />
    <meta name="yandex-verification" content="6dc146d60fac9641" />

    {% include favicons_styling.html %}

    <!-- Open Graph Protocol -->
    <meta property="og:title" content="Marko Idzan">
    <meta property="og:site_name" content="Marko Idzan">
    <meta property="og:url" content="https://idzan.eu">
    <meta property="og:description" content="Marko Idžan’s Official Web Site">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/img/og-image.png">
    <meta property="og:locale" content="en_US" />
    
    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@idzanmarko">
    <meta name="twitter:title" content="Marko Idzan">
    <meta name="twitter:description" content="Marko Idžan’s Official Web Site">

    <title>Marko Idzan</title>

    <!-- Meta Tagovi -->
    <meta name="title" content="Marko Idzan">
    <meta name="description" content="Marko Idžan’s Official Web Site">
</head>
<body>
    <header>
        {% include navigation.html %}
    </header>
    <main>
        {{ content }}
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>
</html>